  <div class="pacman">

      <div class="flex-grid text-center layout-padding">
          <div class="col">
              <h1>Trail Munchers</h1>
          </div>
      </div>

      <div id="map">
          <div class="btn-re-center">
              <img src="assets/images/btn-center.png" alt="center">
          </div>
          <div class="proximity">
              <input type="number" name="proximity" min="1" max="50" value="{{beaconMaxProximity}}">
          </div>
      </div>

      <!--debugging-->
      <div id="info">
          {{message}}<br/>
          Location Lng: {{currentLng}} - Location Lat: {{currentLat}}<br/>
          Seconds since last position update: {{timeSinceUpdate}}
      </div>

      <footer>
          <div class="footer-container">

              <div class="flex-grid text-center">
                  <!--<div class="col">-->
                      <!--<h1>{{points}}</h1>-->
                      <!--<div>Today</div>-->
                  <!--</div>-->
                  <!--<div class="col">-->
                      <!--<h1>{{pointsWeek}}</h1>-->
                      <!--<div>Last 7 Days</div>-->
                  <!--</div>-->
                  <div class="col">
                      <h1>{{pointsTotal}}</h1>
                      <div>Beacons Found</div>
                      <div class="layout-padding" *ngIf="pointsTotal > 9">You just earned
                          <span *ngIf="pointsTotal > 9 && pointsTotal < 15">5%</span>
                          <span *ngIf="pointsTotal > 14 && pointsTotal < 20">10%</span>
                          <span *ngIf="pointsTotal > 19">15%</span>off at www.trailmunchers.com | Use code
                          <span *ngIf="pointsTotal > 9 && pointsTotal < 15">POL-5-OFF</span>
                          <span *ngIf="pointsTotal > 14 && pointsTotal < 20">POL-OFF-10</span>
                          <span *ngIf="pointsTotal > 19">15-POL-OFF</span></div>
                  </div>
              </div>

          </div>
      </footer>

      <style>
          .side-bar {
              position: absolute;
              top: 69px;
              background: white;
              color: black;
              height: calc(100% - 205px);
              margin: 0;
              width: 300px;
          }

          .side-bar .top {
              background: grey;
              color: white;
          }

          .side-bar .close {
              cursor: pointer;
              position: relative;
              left: 281px;
              background: white;
              color: black;
              transform: rotate(90deg);
              top: -111px;
              width: 55px;
          }
      </style>

      <div class="side-bar" [ngClass]="displayText">

          <div class="inner">
              <div class="top layout-padding">
                  <h1>Tool Box</h1>
              </div>

              <div class="middle layout-padding">
                  <ul>
                      <li>Add Beacon</li>
                      <li>Update Beacon</li>
                      <li>Delete Beacon</li>
                  </ul>
              </div>
          </div>

          <div class="close layout-padding" (click)="toggle()">CLOSE</div>

      </div>

      <div style="position: absolute; top: 0; left: 20px; cursor: pointer; font-size: 2rem;" class="layout-padding" (click)="toggle()">&#9776;</div>

  </div>