  <div class="pacman">
      <div class="header">
          <div class="header-container layout-padding">
              <h1>Trail Pacman</h1>
          </div>
      </div>

      <!--debugging-->
      <style type='text/css'>
          #info {
              display: block;
              position: relative;
              margin: 0px auto;
              width: 100%;
              padding: 10px;
              border: none;
              border-radius: 3px;
              font-size: 12px;
              text-align: center;
              color: #222;
              background: #fff;
          }
      </style>

      <div id="map"></div>

      <!--debugging-->
      <pre id='info'></pre>

      <footer>
          <div class="footer-container layout-padding">

              <div class="flex-grid text-center">
                  <div class="col">
                      <h1>7</h1>
                      <div>Today</div>
                  </div>
                  <div class="col">
                      <h1>42</h1>
                      <div>Last 7 Days</div>
                  </div>
                  <div class="col">
                      <h1>316</h1>
                      <div>Total</div>
                  </div>
              </div>

          </div>
      </footer>
  </div>