body {
  background: black;
  color: white;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

#info {
  background: white;
  border: none;
  border-radius: 3px;
  bottom: 50px;
  color: black;
  display: block;
  font-size: 12px;
  margin: 0 auto;
  padding: 0 0 10px;
  position: relative;
  text-align: center;
  z-index: 2;
}

html,
body,
.pacman {
  height: 100% !important;
}

.pacman {
  background: black;
  color: white;
}

.pacman .hamburger-menu {
  position: absolute;
  top: 0;
  left: 20px;
  cursor: pointer;
  font-size: 2rem;
}

.pacman a {
  color: #ee1c24;
}

.pacman li {
  list-style: none;
  padding: 10px 0;
}

.pacman h1 {
  font-size: 1.7rem;
  text-transform: uppercase;
}

.pacman h1,
.pacman h2,
.pacman h3 {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0 16px;
  text-transform: uppercase;
}

.pacman ul {
  margin: 0;
  padding: 0 0 0 16px !important;
}

.pacman #map {
  height: calc(100% - 207px);
  top: 0;
  width: 100%;
}

.pacman .header {
  background: black;
  color: white;
  height: 72px;
  position: absolute;
  top: 0;
  width: 100%;
}

.pacman footer {
  background: black;
  bottom: 0;
  color: white;
  height: 135px;
  position: absolute;
  width: 100%;
}

.pacman footer h1 {
  font-size: 3rem;
}

.pacman .footer-container span {
  padding: 0;
}

.pacman .btn-re-center {
  position: absolute;
  right: 12px;
  top: 110px;
  z-index: 1;
  img {
    border-radius: 5px;
  }
}

.pacman .proximity {
  position: absolute;
  right: 10px;
  top: 150px;
  z-index: 1;
  input {
    border: 0;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 50px;
  }
}

//HELPERS

.show-class {
  visibility: visible;
}

.hide-class {
  visibility: hidden;
}

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
}

.text-center {
  text-align: center;
}

//SIDEBAR
.side-bar {
  position: absolute;
  top: 69px;
  background: white;
  color: black;
  height: calc(100% - 205px);
  margin: 0;
  width: 300px;
}

.side-bar .top {
  background: grey;
  color: white;
}

.side-bar .close {
  cursor: pointer;
  position: relative;
  left: 281px;
  background: white;
  color: black;
  transform: rotate(90deg);
  top: -111px;
  width: 55px;
}