  <div class="pacman">
      <div class="header">
          <div class="header-container layout-padding">
              <h1>Trail Pacman</h1>
          </div>
      </div>

      <div id="map"></div>

      <footer>
          <div class="footer-container layout-padding">
              <h2>Scoreboard</h2>

              <ul class="list-unstyled">
                  <li>
                      <div>Ted just collected X points for a total of X points</div>
                  </li>
                  <li>
                      <div>X more points to get 10% off your next purchase of $100 or more at <a
                          href="#" target="_blank">example.com</a></div>
                  </li>
              </ul>
          </div>
      </footer>
  </div>